* { /* Define standards para todo o documento */
    margin: 0;
    padding: 0;
}

html,body {
    height: 100%;
}

body {
    background: rgb(116,20,241);
    background: linear-gradient(6deg, rgba(116,20,241,1) 7%, rgba(35,29,60,1) 100%);
    color: white;
    font-family: 'Raleway', sans-serif;
}

.avatar {
    width: 80px;
    border-radius: 50%;
    border: 3px solid white;
    box-shadow: 0 0 20px white;
}

h1 {
    font-family: 'Architects Daughter', cursive;
    font-weight: 100;
    font-size: 24px;
    margin-bottom: 2px;
}

h2{
    font-size: 16px;
}

.profile {
    text-align: center;
    margin-top: 20px;
}

.social {
    display: flex; /* coloca o conteúdo lado a lado */
    list-style: none; 
    justify-content: space-around; /* Posiciona apenas elentos flexed */
    margin: 20px 0px;
}

.social img {
    width: 33px;
}

.linksList {
    list-style: none;
}

.linksList li {
    margin: 10px 20px;
}

.linksList li a {
    display: block; /* dispor conteúdo em blocos */
    background: white;
    box-shadow: 2px 2px white;
    color: rgb(137,50,204);
    padding: 15px 20px;
    border-radius: 4px;
    box-shadow: 0px 0px 10px white;
    text-decoration: none; /* Dá jeito para retirar a underline dos links */
    font-weight: bolder;
}

.linksList li a span {
    display: block;
    color: grey;
    text-decoration: underline;
}